################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSharp/.vs
/CSharp/Distnet.SharepointAPIDemo/bin
/CSharp/Distnet.SharepointAPIDemo/obj
